// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...
.bg-login-image {
    background: url($login-image);
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url($register-image);
    background-position: center;
    background-size: cover;
}

.bg-password-image {
    background: url($password-image);
    background-position: center;
    background-size: cover;
}

form.user {
    .form-group {
        .password-wrap {
            position: relative;
            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 100%;
                background-color: transparent;
                border: 0px solid;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 19px;
                    color: $gray-500;
                }
            }
        }
    }
    .custom-checkbox.small {
        label {
            line-height: 1.5rem;
        }
        .custom-control-label {
            &:before {
                border-radius: 3px;
            }
        }
    }
    .form-control-user {
        font-size: 0.8rem;
        border-radius: 5px;
        padding: 1.5rem 1rem;
    }
    .btn-user {
        border-radius: 5px;
        padding: 0.75rem 1rem;
    }
}

.btn-google {
    @include button-variant($brand-google, $white);
}

.btn-facebook {
    @include button-variant($brand-facebook, $white);
}